openapi: 3.0.3
info:
  title: Paragon API
  description: >-
    Paragon is an embedded iPaaS for SaaS companies. This specification covers
    Paragon's documented REST surfaces: the Connect/SDK API and Workflows API on
    api.useparagon.com, the ActionKit tool-calling API on
    actionkit.useparagon.com, and the Proxy (passthrough) API on
    proxy.useparagon.com. Every request is made on behalf of a Connected User and
    authenticated with a Paragon User Token - an RS256-signed JWT - passed as a
    Bearer token. Paths, methods, and hosts are confirmed from Paragon's public
    documentation; request and response bodies are modeled as generic JSON
    objects because Paragon does not publish a formal per-endpoint schema for the
    SDK API. Base hosts differ per API family; select the appropriate server.
  version: '1.0'
  contact:
    name: Paragon
    url: https://www.useparagon.com
servers:
  - url: https://api.useparagon.com
    description: Connect/SDK API and Workflows API
  - url: https://actionkit.useparagon.com
    description: ActionKit tool-calling API
  - url: https://proxy.useparagon.com
    description: Proxy (passthrough) API
security:
  - paragonUserToken: []
tags:
  - name: Connect
    description: Project and integration metadata, Connected User, and credentials.
  - name: Workflows
    description: Enable, disable, and trigger Workflows and send App Events.
  - name: ActionKit
    description: List and run third-party tools (actions) for AI agents.
  - name: Proxy
    description: Forward requests to third-party providers on behalf of a Connected User.
paths:
  /projects/{projectId}/sdk/metadata:
    get:
      operationId: getIntegrationMetadata
      tags:
        - Connect
      summary: Get integration metadata
      description: Returns metadata (name, brand color, icon) for the project's integrations.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Integration metadata.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/integrations:
    get:
      operationId: listIntegrations
      tags:
        - Connect
      summary: List enabled integrations
      description: Lists the project's enabled integrations and their configuration.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: A list of enabled integrations.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/integrations/{integrationType}:
    get:
      operationId: getIntegration
      tags:
        - Connect
      summary: Get an integration configuration
      description: Returns the configuration for a specific integration type (e.g. salesforce).
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: integrationType
          in: path
          required: true
          description: Integration type identifier (e.g. salesforce, hubspot, slack).
          schema:
            type: string
      responses:
        '200':
          description: Integration configuration.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/integrations/{integrationId}:
    delete:
      operationId: disconnectIntegration
      tags:
        - Connect
      summary: Disconnect an integration
      description: Disconnects an integration for the authenticated Connected User.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: integrationId
          in: path
          required: true
          description: The integration instance ID to disconnect.
          schema:
            type: string
      responses:
        '200':
          description: The integration was disconnected.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/me:
    get:
      operationId: getConnectedUser
      tags:
        - Connect
      summary: Get the authenticated Connected User
      description: Returns the authenticated Connected User and their integration state.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: The Connected User and integration state.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      operationId: updateConnectedUser
      tags:
        - Connect
      summary: Update Connected User metadata
      description: Updates metadata on the authenticated Connected User.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The updated Connected User.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/actions:
    post:
      operationId: loadActionOptions
      tags:
        - Connect
      summary: Load dynamic action options
      description: Loads options from a dynamic data source for an integration field.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The loaded options.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/credentials:
    get:
      operationId: listCredentials
      tags:
        - Connect
      summary: List connected credentials
      description: Returns the Connected User's connected credentials.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: A list of connected credentials.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/credentials/{credentialId}:
    patch:
      operationId: updateCredential
      tags:
        - Connect
      summary: Update a connected credential
      description: Updates the configuration of a connected credential.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: credentialId
          in: path
          required: true
          description: The credential ID to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The updated credential.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/workflows/{workflowId}:
    post:
      operationId: enableWorkflow
      tags:
        - Workflows
      summary: Enable a Workflow
      description: Enables a Workflow for the authenticated Connected User.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/WorkflowId'
      responses:
        '200':
          description: The Workflow was enabled.
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: disableWorkflow
      tags:
        - Workflows
      summary: Disable a Workflow
      description: Disables a Workflow for the authenticated Connected User.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/WorkflowId'
      responses:
        '200':
          description: The Workflow was disabled.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/triggers/{workflowId}:
    post:
      operationId: triggerWorkflow
      tags:
        - Workflows
      summary: Trigger a request-type Workflow
      description: Triggers a request-type Workflow and returns its response.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/WorkflowId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The Workflow response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/events/trigger:
    post:
      operationId: triggerEvent
      tags:
        - Workflows
      summary: Send an App Event
      description: Sends an App Event that can trigger event-based Workflows.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The event was accepted.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/tools:
    get:
      operationId: listTools
      tags:
        - ActionKit
      summary: List tools (actions)
      description: >-
        Lists the third-party tools available to the Connected User as JSON
        Schema. Served on the ActionKit host (actionkit.useparagon.com). A
        backward-compatible alias exists at /projects/{projectId}/actions.
      servers:
        - url: https://actionkit.useparagon.com
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: format
          in: query
          description: Response format for tool definitions. Defaults to json_schema.
          schema:
            type: string
            default: json_schema
        - name: limit_to_available
          in: query
          description: If true, returns only tools available to the user. Defaults to true.
          schema:
            type: boolean
            default: true
        - name: reload_fields
          in: query
          description: Force a refresh of dynamically loaded custom fields.
          schema:
            type: boolean
            default: false
        - name: integrations
          in: query
          description: Comma-separated integration names to filter by (e.g. salesforce,hubspot).
          schema:
            type: string
        - name: categories
          in: query
          description: Comma-separated integration categories to filter by (e.g. crm,project_management).
          schema:
            type: string
      responses:
        '200':
          description: Available tools and any per-integration errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tools:
                    type: object
                    additionalProperties: true
                    description: Map of integration name to an array of tool definitions.
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        integration:
                          type: string
                        type:
                          type: string
                        message:
                          type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: runTool
      tags:
        - ActionKit
      summary: Run a tool (action)
      description: >-
        Runs a tool by name with parameters on behalf of the Connected User and
        returns the underlying provider's response. Served on the ActionKit host
        (actionkit.useparagon.com). A backward-compatible alias exists at
        /projects/{projectId}/actions.
      servers:
        - url: https://actionkit.useparagon.com
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tool
              properties:
                tool:
                  type: string
                  description: The tool name (e.g. SLACK_SEND_MESSAGE).
                parameters:
                  type: object
                  additionalProperties: true
                  description: Tool-specific parameters.
      responses:
        '200':
          description: The response from the underlying integration provider.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /projects/{projectId}/sdk/proxy/{integrationType}/{apiPath}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: integrationType
        in: path
        required: true
        description: Integration type identifier (e.g. slack, salesforce).
        schema:
          type: string
      - name: apiPath
        in: path
        required: true
        description: The third-party provider API path to call (may contain slashes).
        schema:
          type: string
    get:
      operationId: proxyGet
      tags:
        - Proxy
      summary: Proxy a GET request to a provider
      description: >-
        Forwards a GET request to the third-party provider on behalf of the
        Connected User. Served on the Proxy host (proxy.useparagon.com). Any HTTP
        verb is accepted; GET and POST are modeled here as representative. Use
        /projects/{projectId}/sdk/proxy/custom/{integrationId}/{apiPath} for
        custom integrations.
      servers:
        - url: https://proxy.useparagon.com
      responses:
        '200':
          description: The provider's response, passed through.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: proxyPost
      tags:
        - Proxy
      summary: Proxy a POST request to a provider
      description: >-
        Forwards a POST request (JSON body) to the third-party provider on behalf
        of the Connected User. Served on the Proxy host (proxy.useparagon.com).
      servers:
        - url: https://proxy.useparagon.com
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The provider's response, passed through.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    paragonUserToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Paragon User Token - an RS256-signed JWT identifying a Connected User -
        passed as Authorization: Bearer <token>. Signed by the builder's server
        with the private Signing Key from Settings > SDK Setup and verified by
        Paragon with the matching public key.
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      description: The Paragon Project ID (UUID).
      schema:
        type: string
    WorkflowId:
      name: workflowId
      in: path
      required: true
      description: The Workflow ID.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid Paragon User Token.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
